h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
em {
  color: #333333;
}
ul {
  margin-top: 10px;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small,
.uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans";
}
.uk-accordion-content {
  margin-top: 10px;
}

.uk-accordion-title {
    color: #149eab;
    border: #149eab;
    border-width: medium;
    border-style: solid;
    padding: 5px 7px;
    text-decoration-line: initial;
}
.uk-accordion-title::before {
  filter: invert(.5) sepia(1) saturate(330%) hue-rotate(136deg) brightness(80%);
}
.uk-open > .uk-accordion-title {
    background-color: #149eab;
    color: #ffffff;
    border: #149eab;
    border-width: medium;
    border-style: solid;
    padding: 5px 7px;
    text-decoration-line: initial;
}
.uk-open > .uk-accordion-title::before {
  filter: invert(.5) sepia(1) brightness(2);
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
  color: #0255a3;
}

.uk-open > .uk-accordion-title:focus {
  color: #ffffff;
}
.uk-open > .uk-accordion-title:hover {
  color: #0255a3;
}
