#branchmap
{
	background: #f0f0f0;
	padding: 20px 0 10px;
	margin: 0 0 20px;
}
#branchmap h3
{
	margin: 0;
}

ul#states
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll 30px 30px transparent;
	display: block;
	height: 150px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 160px;
	bottom: 10px;
}

ul#states li
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}

ul#states li a
{
	display: block;
	padding: 0;
}

#map1
{
	height: 86px;
	left: 31px;
	top: 40px;
	width: 54px;
}

#map2
{
	height: 54px;
	left: 81px;
	top: 32px;
	width: 32px;
}

#map3
{
	height: 45px;
	left: 83px;
	top: 86px;
	width: 37px;
}

#map4
{
	height: 67px;
	left: 112px;
	top: 31px;
	width: 48px;
}

#map5
{
	height: 28px;
	left: 117px;
	top: 96px;
	width: 42px;
}

#map6
{
	height: 15px;
	left: 116px;
	top: 116px;
	width: 30px;
}

#map7
{
	height: 13px;
	left: 127px;
	top: 136px;
	width: 13px;
}

#map8
{
	height: 74px;
	left: 182px;
	top: 69px;
	width: 50px;
}

#map9
{
	height: 10px;
	left: 135px;
	top: 110px;
	width: 10px;
}

#map1 a
{
	height: 86px;
}

#map2 a
{
	height: 54px;
}

#map3 a
{
	height: 45px;
}

#map4 a
{
	height: 67px;
}

#map5 a
{
	height: 28px;
}

#map6 a
{
	height: 15px;
}

#map7 a
{
	height: 13px;
}

#map8 a
{
	height: 74px;
}

#map9 a
{
	height: 10px;
}

#map1 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -1px -131px transparent;
}

#map2 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -51px -244px transparent;
}

#map3 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -53px -419px transparent;
}

#map4 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -82px -485px transparent;
}

#map5 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -87px -671px transparent;
}

#map6 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -86px -812px transparent;
}

#map7 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -97px -953px transparent;
}

#map8 a:hover
{
	background: url("/images/ACHPERNational/map/an-states.png") no-repeat scroll -152px -1007px transparent;
}

#map9 a:hover
{
	background: none repeat scroll 0 0 #1a42b3;
}

#branchmap p
{
	text-align: center;
}
#branchmap p a
{
	margin: 0 3px;
}

#branchmap .padme
{
	background: none !important;
}

.padme
{
	padding: 0 25px;
}
